<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ricardosampayo.iossimulator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7BE31CC1-81CD-4F2D-A5BF-B9A8F3C5FC4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F3196CF-981B-42F5-9778-87D99D4BEF3D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Launch simulator</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E80FA768-8C3B-464C-90DD-27307A0D8BD0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reset contents and settings</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B44E7E2D-7FC7-4320-8DE6-623C4DE07059</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F3196CF-981B-42F5-9778-87D99D4BEF3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>493B8D97-6C65-4389-B746-AA06E8DF6AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E80FA768-8C3B-464C-90DD-27307A0D8BD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A6EAEF5-53A5-4A74-B0EB-D242039FAE09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ricardo Sampayo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iOS Simulator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import iossimulator
iossimulator.launch_device('{query}')</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F3196CF-981B-42F5-9778-87D99D4BEF3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Launching {query} ...</string>
				<key>title</key>
				<string>Simulation Launched</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>493B8D97-6C65-4389-B746-AA06E8DF6AA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} was reset</string>
				<key>title</key>
				<string>Simulator Reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A6EAEF5-53A5-4A74-B0EB-D242039FAE09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import iossimulator
iossimulator.erase_device('{query}')</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E80FA768-8C3B-464C-90DD-27307A0D8BD0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sims</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for {query}...</string>
				<key>script</key>
				<string>import iossimulator
iossimulator.devices("{query}")

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Searching for simulators</string>
				<key>title</key>
				<string>iOS Simulator</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7BE31CC1-81CD-4F2D-A5BF-B9A8F3C5FC4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>B44E7E2D-7FC7-4320-8DE6-623C4DE07059</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A6EAEF5-53A5-4A74-B0EB-D242039FAE09</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>493B8D97-6C65-4389-B746-AA06E8DF6AA9</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7BE31CC1-81CD-4F2D-A5BF-B9A8F3C5FC4F</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>7F3196CF-981B-42F5-9778-87D99D4BEF3D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B44E7E2D-7FC7-4320-8DE6-623C4DE07059</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E80FA768-8C3B-464C-90DD-27307A0D8BD0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>ricardosampayo.com</string>
</dict>
</plist>
